.navbar {
  background-color: #2d2d2d;
  padding: 1rem;
  width: 100%;
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 100;
}


.navbar-icon {
    position: fixed;
    top: 10px;
}


.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search-input {
  width: 106rem;
  position: fixed;
  top: 3px;
  left: 25rem;
}



